@media screen and (max-width: 1200px) {
	.menu__icon{
		display: inline-block;
	}
	.container__contacts, .map {
		width: 90%;
	}
	.contacts__mail-img, .contacts__tel-img, .contacts__insta-img, .contacts__telegram-img {
		text-align: center;
		margin-top: 0px auto;
	}
	.contacts__mail {
		margin-left: 13px;
	}
	.contacts__insta {
		margin-left: 0px;
		margin-bottom: 0px;
	}
	.contacts__tel {
		margin-left: 0px;
		margin-bottom: 0px;
	}
	.contacts__telegram-img {
		margin-left: 25px;
	}
	.window__avto-img {
		width: 95%;
	}
	.window__avto-description, .window__avto-link {
		height: 206px;
		width: 278px;
		left: 7px;
		padding-top: 75px;
	}
	.window__avto-link {
		padding-top: 110px;
	}
	.magnit__box-btn {
		margin-left: 20px;
	}
}
@media screen and (max-width: 992px) {
	.contacts__mail-img {
		margin-left: 70px;
	}
	.contacts__mail-text {
		margin: 8px 0px 20px 5px;
	}
	.contacts__insta-img {
		margin-left: 51px;
	}
	.contacts__insta-text {
		margin: 13px 0px 0px 15px;
	}
	.contacts__tel-img {
		margin-left: 51px;
	}
	.contacts__tel-text {
		margin: 13px 0px 0px 0px;
	}
	.contacts__telegram-img {
		margin-left: 17px;
	}
	.contacts__telegram-text {
		margin: 13px 0px 0px 0px;
	}
	.window__avto-description, .window__avto-link {
		height: 154px;
		width: 208px;
		left: 5px;
		padding-top: 55px;
	}
	.window__avto-link {
		padding-top: 85px;
	}
	.window__avto-description {
		font-size: 1rem;
	}
	.manual__list-item {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 768px) {
	.сonditions__column-head {
		padding-top: 150px;
	}
	.сonditions__column-list {
		padding-left: 150px;
	}
	.сonditions__column-limitations {
		width: 90%;
	}
	.contacts__mail-img {
		margin-left: 15px;
	}
	.contacts__insta-img {
		margin-left: 33px;
	}
	.contacts__tel-img, .contacts__telegram-img {
		margin-left: 35px;
	}
	.box__mobile-text, .box__mobile-link {
	font-size: 1.3rem
	}
	.box__mobile {
		margin: 0px auto 20px auto;
	}
	.manual__list-item {
		font-size: 1rem;
	}
	.magnit__box-img {
		text-align: center;
		margin: 0px auto;
	}
	.magnit__box-title {
		width: 90%;
	}
	.evolution-kia-sportage__box {
		width: 100%;
	}
}
@media screen and (max-width: 737px) {
	.logo__text {
		display: none;
	}
	.evolution-kia-sportage__box-img {
		width: 100%;
	}
}
@media screen and (max-width: 560px) {
	.сonditions__column-head {
		padding-top: 100px;
	}
	.сonditions__column-list {
		padding-left: 100px;
	}
	#question__form, #question__insurance-form {
		width: 90%;
	}
}
@media screen and (max-width: 500px) {
	.first__head {
		font-size: 3rem;
	}
	.order__input, .order__btn, .order__textarea {
		width: 90%;
	}
	.insurance__belneftestrah-img {
		display: none;
	}
	.contacts__telegram-img {
		margin-left: 15px;
	}	
}
@media screen and (max-width: 480px) {
	.сonditions__column-list {
		padding-left: 80px;
	}
	.contacts__mail-img {
		margin-left: 5px;
	}
	.contacts__tel-img {
		margin-left: 10px;
	}
	.contacts__insta-img {
		margin-left: 15px;
	}
	.contacts__telegram-img {
		margin-left: 5px;
	}
}
@media screen and (max-width: 367px) {
	.first__head {
		font-size: 2.5rem;
	}
	.contacts__telegram-img {
		margin-left: -5px;
	}
}
@media screen and (max-width: 367px) {
	.contacts__head {
		font-size: 3.5rem;
	}
}
@media screen and (max-width: 367px) {
	.contacts__head {
		font-size: 3.1rem;
	}
	.footer__confidencial {
		display: none;
	}
	.footer__unp {
		margin-top: 22px;
	}

}
@media screen and (max-width: 280px) {
	.contacts__mail-img, .contacts__insta-img, .contacts__tel-img, .contacts__telegram-img {
		display: none;
	}
	.contacts__telegram {
		margin-bottom: 10px;
	}
	.contacts__head {
		font-size: 2.5rem;
	}
	.box__mobile-text, .box__mobile-link {
		font-size: 1rem
	}
	.window__avto-head {
		font-size: 2rem
	}
	.services__head-title {
		font-size: 1.5rem;
		width: 200px;
	}
	.magnit__box-img {
		width: 90%;
	}
	.magnit__box-input, .magnit__box-btn {
		width: 90%;
	}
}
@media screen and (max-width: 220px) {
	.box__mobile-text, .box__mobile-link {
		font-size: 0.8rem
	}
	.window__avto-head {
		font-size: 1.5rem
	}
	.services__head-title {
		font-size: 1.5rem;
		width: 170px;
	}
}
